* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#zoneDeJeu {
    background-image: url(/assets/img/office.png);
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    height: 92vh;
    width: 100vw;
    position: relative;
}

#perso {
    background-image: url(/assets/img/trump.png);
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 40%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(11, 11, 176);
    height: 8vh;
    width: 100vw;
    color: white;
    font-weight: bold;
}

button {
    background-color: rgb(11, 11, 176);
    color: white;
    font-weight: bold;
}

@media screen and (min-width: 550px) {
    #perso {
        width: 32vw;
        height: 32vh;
    }
}

@media screen and (min-width: 700px) {
    #perso {
        width: 25vw;
        height: 25vh;
    }
}