#zoneDeJeu {
    background-image: url(/assets/img/office.png);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 600px;
}

#perso {
    background-image: url(/assets/img/trump.png);
    background-size: contain;
    background-position: 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 25%;
    height: 25%;
    top: 203px;
    left: 232px;
    z-index: 1;
}